.header {
    min-width: 100vw;
    height: 99px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px #CCC solid;
    padding: 0 288px 0 154px;
}

.header .logo {
    max-height: 32px;
    height: auto;
}

@media (max-width:300px){
    .header{
        height: auto;
    }
}

@media (max-width:839px){
    .header{
        padding: 0;
        flex-direction: column;
    }
}

@media (min-width:840px) and (max-width:1200px){
    .header{
        padding: 0 144px 0 77px;
        flex-direction: column;
    }
}

@media (min-width:1600px){
    .header{
        padding: 0 10em 0 5em ;
    }
}

@media (min-width:2000px) and (max-width:3999px){
    .header{
        font-size: 1.5rem;
    }

    .header img {
        max-height: calc(3 * 32px);
    }
}

@media (min-width:4000px){
    .header{
        font-size: 3rem;
    }

    .header .logo {
        max-height: 64px;
        height: 64px;
    }
}