.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar ul li{
    list-style: none;
    padding: .5em;
}

.liLink {
    font-weight: 400;
    text-decoration: none;
    color: inherit;

    transition: .2s;
}

.liLink:hover{
    color: #2264D1;
    font-size: 1.05rem;
}

.navbar ul li img{
    padding-left: 2em;
}

@media (max-width:560px){
    .navbar{
        max-width: 90%;
    }

    .navbar ul{
        flex-wrap: wrap;
    }
}

@media (min-width:800px) and (max-width:1200px){
    .navbar{
        font-size: 1.5rem;
    }

    .navbar{
        flex-wrap: wrap;
    }
}


@media (min-width:2000px) and (max-width:3999px){
    .navbar img {
        max-height: 32px;
        height: 32px;
    }
}

@media (min-width:4000px){
    .navbar img {

        max-height: 40px;
        height: 40px;
    }
}